<template>
  <div class="footer">
    <span class="footer__text">
      Copyright © 2020 Luis González. All rights reserved.
    </span>
    <span class="footer__text">
      Picture:
      <a href="https://www.google.com/search?q=Mount+Roraima&oq=Mount+Roraima">
        Mount Roraima
      </a>
    </span>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '../assets/styles/main.scss';

.footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  z-index: 2;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-display: swap;
  text-align: center;
  background: transparent;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    height: auto;
    margin: 10px auto;
    padding: 0 10px;
  }

  &__text {
    color: $white;
    width: auto;
    font-size: 0.8em;
  }
}
</style>
