<template>
  <div class="particles__container">
    <div id="particles"></div>
  </div>
</template>

<script>
import 'particles.js'

export default {
  mounted() {
    setTimeout(() => {
      window.particlesJS.load('particles', 'assets/particles.config.min.json')
    }, 0)
  },
}
</script>

<style lang="scss" scoped>
.particles__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  #particles {
    width: 100%;
    height: 100%;
  }
}
</style>
