<template>
  <button class="btn btn-1e">
    <img
      v-if="icon"
      :src="`/assets/icons/${icon}.svg`"
      :alt="icon"
      class="btn__icon"
    />
    <span class="btn__text">{{ text }}</span>
  </button>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/main.scss';

.btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 75%;
  padding: 15px 10%;
  margin: 15px 0;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  box-shadow: 3px 4px 10px black;
  overflow: hidden;
  outline: none;
  border: 2px solid $primary;
  border-radius: 2px;
  color: $white;
  font-family: 'Raleway', sans-serif;
  font-display: swap;
  font-weight: 400;
  font-size: responsive 0.8rem 1.1rem;
  letter-spacing: 2px;

  @media (max-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 480px) {
    height: 50px;
    padding: 0 20px;
    font-weight: 600;
  }

  &__icon {
    height: 30px;
  }

  &__text {
    width: 80%;
    text-align: center;
    align-self: center;
  }

  i.fa {
    &:before {
      transform: translateY(-7px);
      width: 38px;
      height: 38px;
      overflow: hidden;
    }
  }

  &.btn-1e:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: $primary;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &.btn-1e:hover,
  &.btn-1e:active {
    color: $black;
    border-color: #16863b;
    box-shadow: 0px 0px 15px black;
  }

  &.btn-1e:hover:after {
    height: 390%;
    opacity: 1;
  }

  &.btn-1e:active:after {
    height: 500%;
    opacity: 1;
  }
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
</style>
