<template>
  <div id="top-section" class="top-section">
    <div class="top-section__container">
      <div class="top-section__banner">
        <div class="top-section__title">
          <h1 class="top-section__main-banner name">Luis González</h1>
          <transition name="fade">
            <span
              v-show="showTag === true"
              class="top-section__main-banner great"
            >
              {{ currentTag }}
            </span>
          </transition>
          <h1 class="top-section__main-banner developer">Developer</h1>
        </div>
        <div class="top-section__buttons">
          <TopButton
            v-for="button in buttons"
            :key="button"
            :icon="button.icon"
            :text="button.text"
            @click="goTo(button.link)"
          ></TopButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopButton from './TopButton.vue'

export default {
  name: 'TopSection',
  components: { TopButton },
  data() {
    return {
      showTag: true,
      currentTag: 'Full-Stack',
      tagPos: 0,
      headerTitle: 'Make Great Stuff',
      tags: [
        'JavaScript',
        'NodeJS',
        'VueJS',
        'React',
        'Angular',
        'Full-Stack',
        'AWS',
      ],
      buttons: [
        {
          icon: 'gitlab',
          text: 'GitLab',
          link: 'https://gitlab.com/luis-agm',
        },
        {
          icon: 'linkedin',
          text: 'LinkedIn',
          link: 'https://linkedin.com/in/luis-agm-dev',
        },
        {
          icon: 'code',
          text: 'CodeSandbox',
          link: 'https://codesandbox.io/u/luis-agm/',
        },
        {
          icon: 'twitter',
          text: 'Twitter',
          link: 'https://twitter.com/lagonz94',
        },
      ],
      showForm: false,
    }
  },
  mounted() {
    // window.particlesJS('parts', partCfg)
    setInterval(() => {
      this.cycleTags()
    }, 1500)
  },
  methods: {
    closeForm() {
      this.showForm = false
    },
    goTo(link) {
      if (link === 'contact') {
        this.showForm = true
      } else {
        window.open(link, '_blank')
      }
    },
    cycleTags() {
      this.showTag = false
      setTimeout(() => {
        this.currentTag = this.tags[this.tagPos]
        this.tagPos === this.tags.length - 1
          ? (this.tagPos = 0)
          : (this.tagPos += 1)
        this.showTag = true
      }, 300)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../assets/styles/main.scss';

.top-section {
  height: 100vh;
  display: flex;
  flex-flow: column;
  flex: 20 0 auto;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 0px 40px;
  background: radial-gradient(
      ellipse at 50% 60%,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 5)
    ),
    url('/assets/moreSky.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-display: swap;

  @media (max-width: 1024px) {
    padding: 0;
  }

  &__container {
    display: flex;
    flex-flow: row nowrap;
    z-index: 10;
    margin-top: -65px;

    @media (max-width: 1024px) {
      width: 70%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 220px;
    align-items: flex-end;
  }

  &__title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    width: 50vw;

    @media (max-width: 1024px) {
      margin-bottom: 4vh;
      text-align: left;
    }
  }

  &__buttons,
  &__title {
    flex: 0 0 50%;

    @media (max-width: 1024px) {
      min-width: 80%;
    }
  }

  &__banner {
    z-index: 2;
    display: flex;
    flex-flow: row;
    max-width: 1200px;
    justify-content: space-around;
    align-self: center;

    @media (max-width: 1024px) {
      width: 100%;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-top: 2vh;
    }
  }

  &__main-banner {
    text-shadow: 2px 3px 10px black;
    font-size: responsive 35px 64px;
    font-weight: 900;
    color: #fff;
    top: 50%;
    width: 60%;

    &.name {
      align-self: flex-start;
      width: auto;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

    &.great {
      align-self: flex-start;
      width: auto;
      color: $primary;
    }

    &.developer {
      align-self: flex-start;
      width: auto;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

    &.name,
    &.great,
    &.developer {
      @media (max-width: 1024px) {
        align-self: center;
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  canvas.particles-js-canvas-el {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
  }
}
</style>
