<template>
  <div class="app">
    <TopSection class="topsection"/>
    <MainFooter class="wat" />
    <Particles v-if="!isFirefox" />
    <GoToTop />
  </div>
</template>

<script>
import TopSection from './components/TopSection.vue'
import MainFooter from './components/Footer.vue'
import Particles from './components/Particles.vue'
import GoToTop from './components/GoToTop.vue'

export default {
  name: 'App',
  components: { TopSection, MainFooter, Particles, GoToTop },
  data() {
    return {
      nav: false,
      sidenav: false,
      isFirefox: navigator.userAgent.toLowerCase().indexOf('firefox') > -1,
    }
  },
  methods: {
    toggleSideNav() {
      this.sidenav = !this.sidenav
    },
    closeSideNav() {
      this.sidenav = false
    },
  },
}
</script>

<style lang="scss">
@import './assets/styles/main.scss';

body {
  margin: 0;
  background-color: $dark-gray;
}

body::-webkit-scrollbar {
  width: 1em;
  position: absolute;
  background: $dark-gray;
}

body::-webkit-scrollbar-thumb {
  background-color: slategray;
  border-radius: 15px;
}

a {
  color: #1976d2;
  background-color: transparent;
}

.app {
  overflow: hidden;
  font-size: 14pt;
  -moz-osx-font-smoothing: grayscale;
  min-height: calc(100vh + $footer-height) !important;
  min-width: 100%;
}
</style>
